header, nav, main, footer {
  display: block;
  width: 1078px;
  overflow: hidden;
}

body {
  color: #ffffff;
  background-color: #b3b3b3;
  margin: 0px;
  text-align: center;
}

div {
  width: 1078px;
  height: 100px;
}

#col-left {
  background-color: #006acc;
  width: 200px;
  height: 200px;
  float: left;
}

#col-center {
  background-color: grey;
  width: 600px;
  height: auto;
}

footer {
  clear: both;
  background-color: #808080;
}

main {
  height: auto;
  overflow: hidden;
}

#container {
  position: relative;
  margin: auto;
  width: 1078px;
  height: auto;
  overflow: hidden;
  border: 1px solid #ffffff;
}

#logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
  height:40px;

}

#logo img {
  max=height: 100px;
}

header {
  height: 120px;
  background-color: #808080;
}

nav {
  background-color: white;
  height: 30px;
  color: black;
  text-align: left;
  font-size: 20px;
}
