header, nav, main, footer {
  display: block;
  width: 1078px;
  overflow: hidden;
}

body {
  color: #ffffff;
  background-color: #b3b3b3;
  margin: 0px;
  text-align: center;
}

div {
  width: 1078px;
  height: 100px;
}

#col-left {
  background-color: #d9d9d9;
  width: 200px;
  height: 200px;
  float: left;
  color: black;
}

#col-center {
  background-color: grey;
  width: auto;
  height: 200px;
  background-color: #e6e6e6;
  color: black;
}

footer {
  clear: both;
  background-color: #808080;
  height: 30px;
}

main {
  height: auto;
  overflow: hidden;
}

#container {
  position: relative;
  margin: auto;
  width: 1078px;
  height: auto;
  overflow: hidden;
  border: 1px solid #ffffff;
}

#logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
  height:40px;

}

#logo img {
  max=height: 100px;
}

header {
  height: 120px;
  background-color: #808080;
}

nav {
  background-color: white;
  height: 30px;
  color: black;
  text-align: left;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 10px;
}

table {
  border-collapse: collapse;
  width: 878px;
  height: 200px;
}

table, th, td {
  border: 1px solid black;
}

th {
  background-color: #808080;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #cccccc;
}
